/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

* {
  scroll-behavior: smooth;
}

body {
  background-color: #faf2e5;
}

html {
  font-size: 62.5%;
}

body {
  color: rgb(28, 17, 46);
  font-family: "Montserrat", sans-serif;
}

h2,
h3,
h4 {
  font-weight: 700;
}

a {
  font-size: inherit;
  text-decoration: none;
}

.link-to--strong {
  color: #9b063d;
  font-weight: 700;
}
.link-to--strong:hover {
  color: #f84285;
}
.link-to--normal {
  color: #9b063d;
  font-weight: 400;
}
.link-to--normal:hover {
  color: #f84285;
}

.header__contact {
  color: #9b063d;
  font-size: 2rem;
  font-weight: 700;
}
.header__phonenumber {
  color: #9b063d;
}
.header__phonenumber:hover {
  color: #f84285;
}
.header__facebook-logo {
  color: #9b063d;
  font-size: 3rem;
}
.header__facebook-logo:hover {
  color: #f84285;
}
.header__container {
  text-align: center;
}
.header__logo {
  color: #5e8811;
  font-family: "Carattere", sans-serif;
  font-size: 6rem;
  text-align: center;
}
@media screen and (min-width: 376px) {
  .header__logo {
    font-size: 7rem;
  }
}
@media screen and (min-width: 426px) {
  .header__logo {
    font-size: 8rem;
  }
}
@media screen and (min-width: 769px) {
  .header__logo {
    font-size: 9rem;
  }
}
@media screen and (min-width: 1025px) {
  .header__logo {
    white-space: nowrap;
  }
}
@media screen and (min-width: 1441px) {
  .header__logo {
    font-size: 10rem;
  }
}

.nav li {
  text-align: center;
}
.nav .navlink {
  color: #9b063d;
  font-size: 1.4rem;
  font-weight: 600;
}
@media screen and (min-width: 376px) {
  .nav .navlink {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1025px) {
  .nav .navlink {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1441px) {
  .nav .navlink {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1921px) {
  .nav .navlink {
    font-size: 1.8rem;
  }
}

.hero h2 {
  color: #9b063d;
  font-family: "Carattere", sans-serif;
  font-size: 8rem;
  font-weight: 500;
}
@media screen and (min-width: 376px) {
  .hero h2 {
    font-size: 10rem;
  }
}
@media screen and (min-width: 426px) {
  .hero h2 {
    font-size: 12rem;
  }
}
@media screen and (min-width: 769px) {
  .hero h2 {
    font-size: 14rem;
  }
}
@media screen and (min-width: 1025px) {
  .hero h2 {
    font-size: 16rem;
  }
}
@media screen and (min-width: 1441px) {
  .hero h2 {
    font-size: 22rem;
  }
}
@media screen and (min-width: 1921px) {
  .hero h2 {
    font-size: 30rem;
  }
}

.main {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 3rem;
}
@media screen and (min-width: 769px) {
  .main {
    font-size: 1.6rem;
    line-height: 4rem;
  }
}
@media screen and (min-width: 1025px) {
  .main {
    font-size: 1.8rem;
    line-height: 5rem;
  }
}

section h2 {
  color: #59314b;
  font-size: 2rem;
  text-align: center;
}
@media screen and (min-width: 426px) {
  section h2 {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 769px) {
  section h2 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 769px) {
  section h2 {
    font-size: 4rem;
  }
}
@media screen and (min-width: 1025px) {
  section h2 {
    font-size: 5rem;
  }
}
section h3 {
  color: #5e8811;
  font-size: 1.8rem;
  text-align: center;
}
@media screen and (min-width: 426px) {
  section h3 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 769px) {
  section h3 {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1025px) {
  section h3 {
    font-size: 3rem;
  }
}
section h4 {
  color: #59314b;
  font-size: 1.6rem;
  text-align: center;
  text-decoration: underline;
}
@media screen and (min-width: 426px) {
  section h4 {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 1025px) {
  section h4 {
    font-size: 2rem;
  }
}
section p,
section li {
  text-align: left;
}
section li::before {
  font-weight: 700;
}

.presentation {
  text-align: center;
}

.presentation__title h2 {
  color: #59314b;
  line-height: 4rem;
  font-style: italic;
}

.tarifs h3 {
  font-size: 2rem;
  font-weight: 600;
}
@media screen and (min-width: 426px) {
  .tarifs h3 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 769px) {
  .tarifs h3 {
    font-size: 4rem;
  }
}
@media screen and (min-width: 1025px) {
  .tarifs h3 {
    font-size: 5rem;
  }
}
.tarifs th,
.tarifs tr,
.tarifs td {
  line-height: normal;
}
.tarifs th {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: left;
}
@media screen and (min-width: 1025px) {
  .tarifs th {
    font-size: 2rem;
  }
}
.tarifs td:last-child {
  text-align: end;
}

.infos .content__container {
  text-align: center;
}
.infos__contact {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
}
@media screen and (min-width: 769px) {
  .infos__contact {
    font-size: 2.2rem;
  }
}
.infos__phonenumber {
  color: #9b063d;
  font-size: 2.5rem;
  font-weight: 600;
}
.infos__phonenumber:hover {
  color: #f84285;
}
@media screen and (min-width: 426px) {
  .infos__phonenumber {
    font-size: 4rem;
  }
}
.infos__sector {
  font-style: italic;
  font-weight: 400;
  text-align: center;
}
.infos__sector-extra {
  font-size: 1.2rem;
  line-height: 1.4rem;
  text-align: center;
}
.infos .day {
  color: #59314b;
  font-weight: 700;
}
.infos .hours {
  font-style: italic;
}

.faq__question {
  font-size: 1.8rem;
  font-weight: 700;
}
@media screen and (min-width: 1025px) {
  .faq__question {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1441px) {
  .faq__question {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 1921px) {
  .faq__question {
    font-size: 2.5rem;
  }
}

.footer {
  color: #fff;
}
.footer a {
  color: #fff;
}
.footer a:hover {
  text-decoration: underline;
}
.footer__links {
  font-size: 5rem;
}
.footer__copyright {
  text-align: center;
}

.legals {
  line-height: 4rem;
}
.legals h1 {
  font-size: 3.2rem;
  font-weight: 700;
  text-decoration: underline;
}
.legals h2 {
  font-size: 2rem;
  text-decoration: underline;
}
.legals p {
  font-size: 1.4rem;
}
.legals li {
  font-size: 1.4rem;
}
.legals__back-link {
  color: #9b063d;
  font-size: 1.8rem;
  font-weight: 500;
}
.legals__back-link:hover {
  color: #fa73a5;
}

.header {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
  gap: 0;
  flex-wrap: nowrap;
  height: 100vh;
  width: 100%;
  background-color: #faf2e5;
}
.header__contact {
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 0;
  flex-wrap: nowrap;
  position: fixed;
  width: 100%;
  padding: 0.5rem 2rem;
  background-color: #faf2e5;
}
.header__container {
  width: 100%;
  margin-top: 2rem;
  padding: 1rem;
  background-color: #faf2e5;
}
.header__container h1 {
  display: inline-block;
}
@media screen and (min-width: 1025px) {
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    gap: 0;
    flex-wrap: nowrap;
  }
}
.header__logo {
  margin: 1rem 0;
  padding: 2rem 0;
}
.header__logo::after {
  content: "";
  display: block;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 0;
  border-bottom: 2px solid #5e8811;
}
@media screen and (min-width: 426px) {
  .header__logo {
    margin: 1.5rem 0;
  }
}
@media screen and (min-width: 769px) {
  .header__logo {
    margin: 1.5rem 0;
  }
}
@media screen and (min-width: 1025px) {
  .header__logo {
    margin: 2rem 2rem;
  }
  .header__logo::after {
    content: "";
    display: block;
    margin: 0 auto;
    padding-bottom: 0;
    border-bottom: transparent;
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 0;
  flex-wrap: nowrap;
  width: 100%;
}

.content__container {
  margin: 2rem 0;
}
@media screen and (min-width: 769px) {
  .content__container {
    margin: 4rem 0;
  }
}
@media screen and (min-width: 1025px) {
  .content__container {
    margin: 5rem auto;
  }
}

section .title__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0;
  flex-wrap: nowrap;
  height: 25vh;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 769px) {
  section .title__container {
    height: 30vh;
  }
}
@media screen and (min-width: 1441px) {
  section .title__container {
    height: 40vh;
  }
}
section h2 {
  padding: 0.8rem 1.2rem;
  border: solid 1px rgb(28, 17, 46);
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
@media screen and (min-width: 426px) {
  section h2 {
    padding: 2rem 2.5rem;
  }
}
section h3 {
  margin: 0 auto 2rem auto;
  padding: 0 2rem;
}
section h3::before {
  content: "";
  display: block;
  width: 75%;
  margin: 0 auto 2rem auto;
  padding-bottom: 2rem;
  border-bottom: 2px solid rgb(28, 17, 46);
}
section h3::after {
  content: "";
  display: block;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 2rem;
  border-bottom: 2px solid rgb(28, 17, 46);
}
@media screen and (min-width: 769px) {
  section h3 {
    max-width: 100%;
  }
}
@media screen and (min-width: 1025px) {
  section h3 {
    max-width: 60%;
  }
}
@media screen and (min-width: 1921px) {
  section h3 {
    max-width: 50%;
  }
}
section h4 {
  margin-top: 3rem;
  padding: 0 4rem;
}
section p {
  max-width: 90%;
  padding: 1rem;
  margin: auto;
}
@media screen and (min-width: 769px) {
  section p {
    max-width: 80%;
  }
}
@media screen and (min-width: 1025px) {
  section p {
    max-width: 60%;
  }
}
section li {
  padding: 0.5rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0;
  flex-wrap: nowrap;
  min-height: 10vh;
  padding: 2rem;
  background-color: rgb(37, 25, 14);
}
.footer__links {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 0;
  flex-wrap: nowrap;
  width: 100%;
}
@media screen and (min-width: 426px) {
  .footer__links {
    width: 50%;
  }
}
.footer .marcapar__logo {
  width: 10rem;
}
.footer__copyright {
  padding: 1.5rem;
}

.legals {
  padding: 1.5rem;
}
.legals h1 {
  padding: 5rem 0;
  margin: auto;
}
.legals h2,
.legals p,
.legals ul {
  max-width: 500px;
  margin: 0 auto 2rem auto;
}

nav {
  width: 100%;
}
@media screen and (min-width: 1025px) {
  nav {
    width: 60%;
  }
}
nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 1025px) {
  nav ul {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row;
    gap: 0;
    flex-wrap: nowrap;
  }
}
nav li {
  padding: 1rem;
}
@media screen and (min-width: 376px) {
  nav li {
    padding: 1.2rem;
  }
}
@media screen and (min-width: 426px) {
  nav li {
    padding: 1.4rem;
  }
}
nav li::after {
  content: "";
  display: block;
  width: 75%;
  margin: 1rem auto 0 auto;
  padding-bottom: 0;
  border-bottom: 2px solid #9b063d;
}
nav li::after {
  transform: scaleX(0);
  transition: all 0.5s ease-in-out;
}
nav li:hover::after {
  transform: scaleX(1);
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0;
  flex-wrap: nowrap;
  height: 100%;
  background-image: url("/src/assets/images/hero_banner_s.webp");
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
@media screen and (min-width: 426px) {
  .hero {
    background-image: url("/src/assets/images/hero_banner_m.webp");
  }
}
@media screen and (min-width: 769px) {
  .hero {
    background-image: url("/src/assets/images/hero_banner_l.webp");
  }
}
@media screen and (min-width: 1025px) {
  .hero {
    background-image: url("/src/assets/images/hero_banner_xl.webp");
  }
}
@media screen and (min-width: 1441px) {
  .hero {
    background-image: url("/src/assets/images/hero_banner_xl.webp");
  }
}
@-webkit-keyframes fadeInAndOut {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeInAndOut {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.hero h2 {
  padding: 1rem;
  opacity: 0;
  animation: fadeInAndOut 6000ms ease-in-out;
  -webkit-animation: fadeInAndOut 3000ms ease-in-out;
}

.presentation {
  padding: 2rem;
  background-image: url("/src/assets/images/presentation.webp");
  background-position: center;
  background-size: cover;
}
.presentation__container {
  margin: 3rem 0 3rem 0;
  padding: 3rem 0;
}
@media screen and (min-width: 426px) {
  .presentation__container {
    padding: 4rem 3rem;
  }
}
@media screen and (min-width: 1025px) {
  .presentation__container {
    padding: 6rem 5rem;
  }
}
.presentation__title {
  display: inline-block;
  max-width: 90%;
  margin: 0 auto 4rem auto;
}
.presentation__title::before {
  content: "";
  display: block;
  width: 75%;
  margin: 0 auto 2rem auto;
  padding-bottom: 2rem;
  border-bottom: 2px solid #59314b;
}
.presentation__title::after {
  content: "";
  display: block;
  width: 75%;
  margin: 0 auto;
  padding-bottom: 2rem;
  border-bottom: 2px solid #59314b;
}
.presentation h2 {
  padding-top: 2rem;
  border: none;
  background: none;
}
.presentation p {
  margin-top: 3rem;
}
.presentation .image__container {
  width: 50vw;
  margin: 6rem auto;
}
@media screen and (min-width: 426px) {
  .presentation .image__container {
    max-width: 50vw;
  }
}
@media screen and (min-width: 1025px) {
  .presentation .image__container {
    max-width: 35vw;
  }
}
@media screen and (min-width: 1441px) {
  .presentation .image__container {
    max-width: 25vw;
  }
}

.colorations .title__container {
  background-image: url(/src/assets/images/colorations_03_xs-s.jpg);
}
@media screen and (min-width: 769px) {
  .colorations .title__container {
    background-image: url(/src/assets/images/colorations_03_m-l-xl.jpg);
  }
}
@media screen and (min-width: 1921px) {
  .colorations .title__container {
    background-image: url(/src/assets/images/colorations_03_xxl.jpg);
  }
}
.colorations__plus-minus {
  max-width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0;
  flex-wrap: nowrap;
}
@media screen and (min-width: 769px) {
  .colorations__plus-minus {
    max-width: 80%;
  }
}
@media screen and (min-width: 1025px) {
  .colorations__plus-minus {
    max-width: 60%;
  }
}
.colorations .plus::before {
  content: "+";
  display: inline-block;
  margin-right: 0.5rem;
}
.colorations .minus::before {
  content: "-";
  display: inline-block;
  margin-right: 0.5rem;
}

.meches .title__container {
  background-image: url(/src/assets/images/meches_xs-s.jpg);
}
@media screen and (min-width: 769px) {
  .meches .title__container {
    background-image: url(/src/assets/images/meches_m.jpg);
  }
}
@media screen and (min-width: 1025px) {
  .meches .title__container {
    background-image: url(/src/assets/images/meches_l-xl.jpg);
  }
}
@media screen and (min-width: 1921px) {
  .meches .title__container {
    background-image: url(/src/assets/images/meches_xxl.jpg);
  }
}

.tarifs .title__container {
  background-image: url(/src/assets/images/tarifs_xs-s.jpg);
}
@media screen and (min-width: 769px) {
  .tarifs .title__container {
    background-image: url(/src/assets/images/tarifs_m-l-xl.jpg);
  }
}
@media screen and (min-width: 1921px) {
  .tarifs .title__container {
    background-image: url(/src/assets/images/tarifs_xxl.jpg);
  }
}
.tarifs .content__container {
  max-width: 1200px;
  margin: 3rem auto;
}
.tarifs .tables__container {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}
.tarifs h3 {
  width: 75%;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  padding: 0;
  margin: 5rem auto;
}
.tarifs h3::before {
  content: "";
  display: block;
  width: 100%;
  margin: 0 auto 2rem auto;
  padding-bottom: 0;
  border-bottom: 2px solid rgb(28, 17, 46);
}
.tarifs h3::after {
  content: "";
  display: block;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 2rem;
  border-bottom: 2px solid rgb(28, 17, 46);
}
@media screen and (min-width: 1025px) {
  .tarifs h3 {
    max-width: 50%;
  }
}
.tarifs .table__container {
  padding: 2rem;
}
.tarifs table th {
  padding: 0.75rem 1rem;
  border-bottom: 2px solid #59314b;
  background-color: #faf2e5;
}
.tarifs table tr,
.tarifs table td {
  height: 4rem;
  width: 25rem;
  padding: 0.5rem 1rem;
}
@media screen and (min-width: 769px) {
  .tarifs table tr,
.tarifs table td {
    height: 5rem;
  }
}
@media screen and (min-width: 1025px) {
  .tarifs table tr,
.tarifs table td {
    height: 6rem;
  }
}
.tarifs table tr:nth-child(even) {
  background-color: rgb(252, 231, 208);
}
.tarifs table tr:nth-child(odd) {
  background-color: white;
}

.infos .title__container {
  background-image: url(/src/assets/images/infos_xs-s.jpg);
}
@media screen and (min-width: 769px) {
  .infos .title__container {
    background-image: url(/src/assets/images/infos_m.jpg);
  }
}
@media screen and (min-width: 1025px) {
  .infos .title__container {
    background-image: url(/src/assets/images/infos_l-xl.jpg);
  }
}
@media screen and (min-width: 1921px) {
  .infos .title__container {
    background-image: url(/src/assets/images/infos_xxl.jpg);
  }
}
.infos__contact {
  padding: 2rem;
}
.infos__phonenumber {
  display: inline-block;
  padding: 2rem;
}
.infos__sector {
  padding: 2rem;
}
.infos__sector-extra {
  margin: 0 auto 4rem auto;
}
.infos .opening-hours__container {
  max-width: 1200px;
  margin: auto;
  padding: 0 2rem;
}
.infos .opening-hours__grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  margin: 5rem auto;
}
@media screen and (min-width: 1441px) {
  .infos .opening-hours__grid {
    width: 50%;
  }
}
.infos .opening-hours__grid .day {
  background-color: #fff;
}
.infos .opening-hours__grid .hours {
  background-color: rgb(252, 231, 208);
}

iframe {
  height: 50vh;
  width: 95%;
  margin: 3rem auto 0 auto;
}
@media screen and (min-width: 426px) {
  iframe {
    height: 60vh;
    width: 75%;
    max-width: 90vh;
  }
}

@-webkit-keyframes fadeIn {
  from {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
  }
  to {
    max-height: var(--max-height);
    opacity: 1;
    overflow: visible;
  }
}
@keyframes fadeIn {
  from {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
  }
  to {
    max-height: var(--max-height);
    opacity: 1;
    overflow: visible;
  }
}
@-webkit-keyframes fadeOut {
  from {
    max-height: var(--max-height);
    opacity: 1;
    overflow: visible;
  }
  to {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
  }
}
@keyframes fadeOut {
  from {
    max-height: var(--max-height);
    opacity: 1;
    overflow: visible;
  }
  to {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
  }
}
.faq .title__container {
  background-image: url(/src/assets/images/faq_xs-s.jpg);
}
@media screen and (min-width: 769px) {
  .faq .title__container {
    background-image: url(/src/assets/images/faq_m-l-xl.jpg);
  }
}
@media screen and (min-width: 1921px) {
  .faq .title__container {
    background-image: url(/src/assets/images/faq_xxl.jpg);
  }
}
.faq .content__container p {
  max-width: 90%;
}
@media screen and (min-width: 1441px) {
  .faq .content__container p {
    max-width: 1200px;
  }
}
@media screen and (min-width: 769px) {
  .faq .content__container {
    margin-left: 15%;
  }
}
@media screen and (min-width: 1025px) {
  .faq .content__container {
    margin-left: 20%;
  }
}
@media screen and (min-width: 1441px) {
  .faq .content__container {
    margin-left: 25%;
  }
}
@media screen and (min-width: 1921px) {
  .faq .content__container {
    margin-left: 30%;
  }
}
.faq__question {
  width: max-content;
  width: -moz-max-content;
  width: -webkit-max-content;
  margin: 0 2rem;
  padding: 0;
  border-bottom: 2px solid rgb(28, 17, 46);
  transition: all 800ms ease-in-out;
  cursor: help;
}
.faq__question::before {
  content: "";
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 1.5rem 0 0;
  border-bottom: 3px solid #9b063d;
  border-right: 3px solid #9b063d;
  transform: rotate(-45deg);
  transition: all 800ms ease-in-out;
}
.faq__question--active {
  width: max-content;
  width: -moz-max-content;
  width: -webkit-max-content;
  margin: 0 2rem 2rem 2rem;
  padding: 0;
  border-bottom: 2px solid rgb(28, 17, 46);
  transition: all 800ms ease-in-out;
  cursor: help;
}
.faq__question--active::before {
  content: "";
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 1rem 0.25rem 0.5rem;
  border-bottom: 3px solid #9b063d;
  border-right: 3px solid #9b063d;
  transform: rotate(45deg);
  transition: all 800ms ease-in-out;
}
.faq__response {
  margin: 0 0 2rem 0;
  padding: 0 0 0 2rem;
  animation: fadeOut 800ms ease-in-out forwards;
  -webkit-animation: fadeOut 800ms ease-in-out forwards;
  transition: all 800ms ease-in-out;
}
.faq__response--visible {
  margin: 0 0 2rem 0;
  padding: 0 0 0 2rem;
  animation: fadeIn 800ms ease-in-out forwards;
  -webkit-animation: fadeIn 800ms ease-in-out forwards;
  transition: all 800ms ease-in-out;
}

.scroll-top {
  all: unset;
  position: fixed;
  bottom: 15px;
  right: 15px;
  opacity: 0;
  color: #9b063d;
  transform: translate(60px);
  transition: all 800ms cubic-bezier(0.5, 1.8, 0.64, 1);
}
@media screen and (min-width: 426px) {
  .scroll-top {
    bottom: 30px;
    right: 30px;
  }
}
.scroll-top .fa-chevron-circle-up {
  font-size: 2.8rem;
}
@media screen and (min-width: 426px) {
  .scroll-top .fa-chevron-circle-up {
    font-size: 4rem;
  }
}
.scroll-top .fa-chevron-circle-up:hover {
  cursor: pointer;
}

.scroll-top--visible {
  opacity: 0.5;
  transform: translate(0);
}
.scroll-top--visible:hover {
  opacity: 1;
}/*# sourceMappingURL=index.css.map */