* {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #111e2e;
  background-color: $color-bg;
}

h2 {
  font-weight: 700;
  font-size: 2.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}
