html {
  font-size: 62.5%;
}

body {
  color: $text-color;
  font-family: "Montserrat", sans-serif;
}

h2,
h3,
h4 {
  font-weight: 700;
}

a {
  font-size: inherit;
  text-decoration: none;
}

.link-to {
  &--strong {
    font-weight: 700;
    color: $color-primary;
    &:hover {
      color: lighten($color: $color-primary, $amount: 30);
    }
  }
  &--normal {
    font-weight: 400;
    color: $color-primary;
    &:hover {
      color: lighten($color: $color-primary, $amount: 30);
    }
  }
}

.header {
  &__contact {
    color: $color-primary;
    font-size: 2rem;
    font-weight: 700;
  }
  &__phonenumber {
    color: $color-primary;
  }

  &__phonenumber:hover {
    color: lighten($color: $color-primary, $amount: 30);
  }
  &__facebook-logo {
    color: $color-primary;
    font-size: 3rem;
    &:hover {
      color: lighten($color: $color-primary, $amount: 30);
    }
  }
  &__container {
    text-align: center;
  }
  &__logo {
    color: $color-secondary;
    // font-family: "Darleston", sans-serif;
    // TRY FONT-FAMILY:
    // font-family: "Imperial Script", sans-serif;
    // font-family: "Luxurious Script", sans-serif;
    // font-family: "Pinyon Script", sans-serif;
    // font-family: "Fleur De Leah", sans-serif;
    font-family: "Carattere", sans-serif;
    // TRY ------- END ----------
    font-size: 6rem;
    text-align: center;
    @include responsive("xsmall") {
      font-size: 7rem;
    }
    @include responsive("small") {
      font-size: 8rem;
    }
    @include responsive("medium") {
      font-size: 9rem;
    }
    @include responsive("large") {
      //font-size: 10rem;
      // TRY RESPONSIVE: header row
      // font-size: 10rem;
      white-space: nowrap;
      // TRY ------- END ----------
    }
    @include responsive("xlarge") {
      // font-size: 12rem;
      // TRY RESPONSIVE: header row
      font-size: 10rem;
      // TRY ------- END ----------
    }
  }
}

.nav {
  li {
    text-align: center;
  }
  .navlink {
    color: $color-primary;
    font-size: 1.4rem;
    font-weight: 600;
    @include responsive("xsmall") {
      font-size: 1.6rem;
    }
    @include responsive("large") {
      // font-size: 1.8rem;
      // TRY RESPONSIVE: header row
      font-size: 1.4rem;
      // TRY ------- END ----------
    }
    @include responsive("xlarge") {
      font-size: 1.6rem;
    }
    @include responsive("xxlarge") {
      font-size: 1.8rem;
    }
  }
}
.hero {
  h2 {
    // color: lighten($color-tertiary, 50);
    color: $color-primary;
    // TRY FONT-FAMILY:
    // font-family: "Darleston", sans-serif;
    // font-family: "Imperial Script", sans-serif;
    // font-family: "Luxurious Script", sans-serif;
    // font-family: "Pinyon Script", sans-serif;
    // font-family: "Fleur De Leah", sans-serif;
    font-family: "Carattere", sans-serif;
    // TRY ------- END ----------;

    font-size: 8rem;
    font-weight: 700;
    // -webkit-text-stroke: $color-tertiary 1px;
    -webkit-text-stroke: lighten($color-tertiary, 40) 1px;
    @include responsive("xsmall") {
      font-size: 10rem;
    }
    @include responsive("small") {
      font-size: 12rem;
    }
    @include responsive("medium") {
      font-size: 14rem;
    }
    @include responsive("large") {
      font-size: 16rem;
    }
    @include responsive("xlarge") {
      font-size: 30rem;
    }
    @include responsive("xxlarge") {
      font-size: 30rem;
    }
  }
}
.main {
  line-height: 3rem;
  font-size: 1.4rem;
  font-weight: 500;
  @include responsive("medium") {
    font-size: 1.6rem;
    line-height: 4rem;
  }
  @include responsive("large") {
    font-size: 1.8rem;
    line-height: 5rem;
  }
}
section {
  h2 {
    color: $color-tertiary;
    font-size: 2rem;
    text-align: center;
    @include responsive("small") {
      font-size: 2.5rem;
    }
    @include responsive("medium") {
      font-size: 3rem;
    }
    @include responsive("medium") {
      font-size: 4rem;
    }
    @include responsive("large") {
      font-size: 5rem;
    }
  }
  h3 {
    color: $color-secondary;
    font-size: 1.8rem;
    text-align: center;
    @include responsive("small") {
      font-size: 2rem;
    }
    @include responsive("medium") {
      font-size: 2.5rem;
    }
    @include responsive("large") {
      font-size: 3rem;
    }
  }
  h4 {
    color: $color-tertiary;
    font-size: 1.6rem;
    text-align: center;
    text-decoration: underline;
    @include responsive("small") {
      font-size: 1.8rem;
    }
    @include responsive("large") {
      font-size: 2rem;
    }
  }
  p,
  li {
    text-align: left;
  }
  li::before {
    font-weight: 700;
  }
}
.presentation {
  text-align: center;
}
.presentation__title {
  h2 {
    color: $color-tertiary;
    line-height: 4rem;
    font-style: italic;
  }
}

.tarifs {
  //  non utilisé pour l'instant, voir si besoin
  //   p {
  //     text-align: center;
  //     padding: 2rem;
  //   }
  h3 {
    font-weight: 600;
    font-size: 2rem;
    @include responsive("small") {
      font-size: 3rem;
    }
    @include responsive("medium") {
      font-size: 4rem;
    }
    @include responsive("large") {
      font-size: 5rem;
    }
  }
  th,
  tr,
  td {
    line-height: normal;
  }
  th {
    font-size: 1.8rem;
    font-weight: 700;
    text-align: left;
    @include responsive("large") {
      font-size: 2rem;
    }
  }
  td:last-child {
    text-align: end;
  }
}

.infos {
  .content__container {
    text-align: center;
  }
  &__contact {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    @include responsive("medium") {
      font-size: 2.2rem;
    }
  }
  &__phonenumber {
    color: $color-primary;
    font-size: 2.5rem;
    font-weight: 600;
    &:hover {
      color: lighten($color: $color-primary, $amount: 30);
    }
    @include responsive("small") {
      font-size: 4rem;
    }
  }
  &__sector {
    font-style: italic;
    font-weight: 400;
    text-align: center;
  }
  &__sector-extra {
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.4rem;
  }

  .day {
    color: $color-tertiary;
    font-weight: 700;
  }
  .hours {
    font-style: italic;
  }
}

.faq {
  &__question {
    font-size: 1.8rem;
    font-weight: 700;
    @include responsive("large") {
      font-size: 2rem;
    }
    @include responsive("xlarge") {
      font-size: 2.2rem;
    }
    @include responsive("xxlarge") {
      font-size: 2.5rem;
    }
  }
}

footer {
  color: #fff;
  a {
    color: #fff;
    &:hover {
      text-decoration: underline;
    }
  }
}

.legals {
  line-height: 4rem;
  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    text-decoration: underline;
  }
  h2 {
    font-size: 2.2rem;
    text-decoration: underline;
  }
  a {
    font-size: 1.8rem;
  }
  .back-link {
    font-size: 2.5rem;
    color: $color-primary;
  }
}
