@mixin mobile-L {
  @media screen and (min-width: map-get($breakpoints, mobile-L)) {
    @content;
  }
}

@mixin tablet-S {
  @media screen and (min-width: map-get($breakpoints, tablet-S)) {
    @content;
  }
}
@mixin tablet-L {
  @media screen and (min-width: map-get($breakpoints, tablet-L)) {
    @content;
  }
}
@mixin laptop {
  @media screen and (min-width: map-get($breakpoints, laptop)) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: map-get($breakpoints, desktop)) {
    @content;
  }
}
@mixin widescreen {
  @media screen and (min-width: map-get($breakpoints, widescreen)) {
    @content;
  }
}

@mixin underliner($color, $width, $padding-bottom: 2rem, $margin: 0 auto) {
  content: "";
  display: block;
  width: $width;
  margin: $margin;
  padding-bottom: $padding-bottom;
  border-bottom: 2px solid $color;
}

@mixin overliner(
  $color,
  $width,
  $padding-bottom: 2rem,
  $margin: 0 auto 2rem auto
) {
  content: "";
  display: block;
  width: $width;
  margin: $margin;
  padding-bottom: $padding-bottom;
  border-bottom: 2px solid $color;
}
