@mixin responsive($breakpoint) {
  @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin flex(
  $align-items,
  $justify-content,
  $direction: raw,
  $gap: 0,
  $wrap: nowrap
) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-direction: $direction;
  gap: $gap;
  flex-wrap: $wrap;
}

@mixin underliner($color, $width, $padding-bottom: 2rem, $margin: 0 auto) {
  &::after {
    content: "";
    display: block;
    width: $width;
    margin: $margin;
    padding-bottom: $padding-bottom;
    border-bottom: 2px solid $color;
  }
}

@mixin overliner(
  $color,
  $width,
  $padding-bottom: 2rem,
  $margin: 0 auto 2rem auto
) {
  &::before {
    content: "";
    display: block;
    width: $width;
    margin: $margin;
    padding-bottom: $padding-bottom;
    border-bottom: 2px solid $color;
  }
}
