@mixin tablet {
  @media screen and (min-width: map-get($breakpoints, tablet)) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: map-get($breakpoints, desktop)) {
    @content;
  }
}

@mixin underliner(
  $color,
  $width,
  $margin: 0 auto 2rem auto,
  $padding-bottom: 2rem
) {
  content: "";
  display: block;
  width: $width;
  margin: $margin;
  padding-bottom: $padding-bottom;
  border-bottom: 2px solid $color;
}
