$breakpoints: (
  "xsmall": 376px,
  "small": 426px,
  "medium": 769px,
  "large": 1025px,
  "xlarge": 1441px,
  "xxlarge": 1921px,
);

$color-primary: #9b063d;
$color-secondary: #5e8811;
$color-tertiary: #59314b;

$color-bg: #faf2e5;

$text-color: rgb(28, 17, 46);
