$breakpoints: (
  tablet: 768px,
  desktop: 992px,
);
// $color-primary: rgb(109, 0, 109);
// $color-primary: #f75d20;
$color-primary: #59314b;

$color-secondary: darkcyan;

$color-green: #4e6b17;

$color-bg: #faf2e5;

$text-darkgrey: rgb(28, 17, 46);
