.colorations {
  .title__container {
    background-image: url(/src/assets/images/colorations_03_xs-s.jpg);
    @include responsive("medium") {
      background-image: url(/src/assets/images/colorations_03_m-l-xl.jpg);
    }
    @include responsive("xxlarge") {
      background-image: url(/src/assets/images/colorations_03_xxl.jpg);
    }
  }
  &__plus-minus {
    max-width: 90%;
    margin: auto;
    @include flex(center, center, column);
    @include responsive("medium") {
      max-width: 80%;
    }
    @include responsive("large") {
      max-width: 60%;
    }
  }
  .plus::before {
    content: "+";
    display: inline-block;
    margin-right: 0.5rem;
  }
  .minus::before {
    content: "-";
    display: inline-block;
    margin-right: 0.5rem;
  }
}
