#colorations {
  .title__container {
    background-image: url(/src/assets/images/coloration-cheveux-vegetale-henne-couleur-poudres1.jpg);
  }
  .content__container {
    text-align: center;
    margin: 2rem 0;
    p {
      padding: 2rem;
      line-height: 3rem;
    }
  }
}
