@-webkit-keyframes fadeIn {
  0% {
    max-height: 0;
    opacity: 0;
    // overflow: hidden;
  }
  // 95% {
  //   max-height: var(--max-height);
  //   opacity: 0.5;
  //   overflow: visible;
  // }
  100% {
    max-height: var(--max-height);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    max-height: 0;
    opacity: 0;
    // overflow: hidden;
  }
  // 95% {
  //   max-height: var(--max-height);
  //   opacity: 0.5;
  //   overflow: visible;
  // }
  100% {
    max-height: var(--max-height);
    opacity: 1;
    // overflow: visible;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    max-height: var(--max-height);
    opacity: 1;
    // overflow: visible;
  }
  // 5% {
  //   max-height: var(--max-height);
  //   opacity: 0.5;
  //   overflow: visible;
  // }
  100% {
    max-height: 0;
    opacity: 0;
    // overflow: hidden;
  }
}

@keyframes fadeOut {
  0% {
    max-height: var(--max-height);
    opacity: 1;
    // overflow: visible;
  }
  100% {
    max-height: 0;
    opacity: 0;
    // overflow: hidden;
  }
}

.faq {
  .title__container {
    background-image: url(/src/assets/images/adam-winger-yGCj9aMSBNI-unsplash.jpg);
  }

  &__question:not(.faq__question--active) {
    @include faq-question;
  }
  &__question--active {
    @include faq-question($active: true);
  }
  &__response:not(.faq__response--visible) {
    @include faq-response;
  }
  &__response--visible {
    @include faq-response($visible: true);
  }
}
