.hero {
  @include flex(center, center);
  height: 100%;
  background-image: url("/src/assets/images/hero_banner_s.webp");
  background-position: center;
  background-size: cover;
  overflow: hidden;
  @include responsive("small") {
    background-image: url("/src/assets/images/hero_banner_m.webp");
  }
  @include responsive("medium") {
    background-image: url("/src/assets/images/hero_banner_l.webp");
  }
  @include responsive("large") {
    background-image: url("/src/assets/images/hero_banner_xl.webp");
  }
  @include responsive("xlarge") {
    background-image: url("/src/assets/images/hero_banner_xl.webp");
  }

  @-webkit-keyframes fadeInAndOut {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes fadeInAndOut {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  h2 {
    padding: 1rem;
    opacity: 0;
    animation: fadeInAndOut 6000ms ease-in-out;
    -webkit-animation: fadeInAndOut 3000ms ease-in-out;
  }
}
