.infos {
  .title__container {
    background-image: url(/src/assets/images/infos.jpeg);
  }
  .content__container {
    text-align: center;
  }
  &__contact {
    padding: 2rem;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
  }
  &__phonenumber {
    display: inline-block;
    padding: 2rem;
    color: $color-primary;
    font-size: 3rem;
    font-weight: 600;
    @include responsive("small") {
      font-size: 4rem;
    }
  }
  &__sector {
    padding: 2rem;
    font-size: 2rem;
    font-style: italic;
    font-weight: 400;
  }
  .opening-hours__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    width: 90%;
    margin: 5rem auto;
    @include responsive("xlarge") {
      width: 50%;
    }
    .day {
      color: $color-primary;
      font-weight: 700;
      background-color: white;
    }
    .hours {
      @include flex(center, center);
      font-style: italic;
      background-color: rgb(236, 221, 238);
    }
  }
}

iframe {
  height: 50vh;
  width: 95%;
  margin: 3rem 0;
  @include responsive("small") {
    height: 60vh;
    width: 75%;
    max-width: 90vh;
  }
}
