.infos {
  .title__container {
    background-image: url(/src/assets/images/infos.jpeg);
  }
  &__contact {
    padding: 2rem;
  }
  &__phonenumber {
    display: inline-block;
    padding: 2rem;
    color: $color-primary;
  }
  &__sector {
    padding: 2rem;
  }
  .opening-hours__container {
    max-width: 1200px;
    margin: auto;
    padding: 0 2rem;
  }
  .opening-hours__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 5rem auto;
    @include responsive("xlarge") {
      width: 50%;
    }
    .day {
      background-color: #fff;
    }
    .hours {
      background-color: rgb(252, 231, 208);
    }
  }
}

iframe {
  height: 50vh;
  width: 95%;
  margin: 3rem 0;
  @include responsive("small") {
    height: 60vh;
    width: 75%;
    max-width: 90vh;
  }
}
