nav {
  width: 100%;
  ul {
    @include flex(null, center, null, null, wrap);
  }
  li {
    padding: 1rem;
    @include responsive("xsmall") {
      padding: 1.2rem;
    }
    @include responsive("small") {
      padding: 1.4rem;
    }
    @include responsive("large") {
      padding: 1.8rem;
    }
    @include responsive("xlarge") {
      padding: 2.5rem;
    }
    @include responsive("xxlarge") {
      padding: 3rem;
    }
    @include underliner($color-primary, 75%, 2px, solid, 0, 1rem auto 0 auto);
    &::after {
      transform: scaleX(0);
      transition: all 0.5s ease-in-out;
    }
    &:hover::after {
      transform: scaleX(1);
    }
  }
}
