.tarifs {
  .title__container {
    background-image: url(/src/assets/images/polina-rytova-1dGMs4hhcVA-unsplash.jpg);
  }
  .content__container {
    max-width: 1200px;
    margin: 3rem auto;
  }
  .tables__container {
    @include flex(null, center, null, 3rem, wrap);
  }

  h3 {
    width: 75%;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    padding: 0;
    @include overliner($color-secondary, 100%, 2px, solid, 0);
    @include underliner($color-secondary, 100%, 2px, solid, 2rem);
    margin: 5rem auto;
    @include responsive("large") {
      max-width: 50%;
    }
  }

  .table__container {
    padding: 2rem;
  }
  table {
    th {
      padding: 0.75rem 1rem;
      background-color: $color-bg;
      border-bottom: 1px solid $color-tertiary;
    }
    tr,
    td {
      height: 4rem;
      width: 25rem;
      padding: 0.5rem 1rem;
      @include responsive("medium") {
        height: 5rem;
      }
      @include responsive("large") {
        height: 6rem;
      }
    }
    tr {
      &:nth-child(even) {
        background-color: rgb(252, 231, 208);
      }
      &:nth-child(odd) {
        background-color: white;
      }
    }
  }
}
