footer {
  @include flex(center, center, column);
  min-height: 10vh;
  padding: 2rem;
  background-color: rgb(37, 25, 14);
  .footer__links {
    @include flex(null, space-evenly);
    width: 100%;
    font-size: 5rem;

    @include responsive("small") {
      width: 50%;
    }
  }
  .fa-facebook {
    color: white;
  }
  .marcapar__logo {
    width: 10rem;
  }
  .footer__copyright {
    padding: 1.5rem;
  }
}
