footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 10vh;
  padding: 2rem;
  color: azure;
  background-color: rgb(37, 25, 14);
  .footer__links {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 5rem;

    @include tablet-S {
      width: 50%;
    }
  }
  .fa-facebook {
    color: white;
  }
  .marcapar__logo {
    width: 10rem;
  }
  .footer__copyright {
    padding: 1.5rem;
  }
}
