.header {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  background-color: $color-bg;
  &__contact {
    z-index: 200;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem 2rem;
    color: $color-primary;
    font-size: 2rem;
    font-weight: 700;
    background-color: $color-bg;
  }
  &__phonenumber:hover {
    color: $color-green;
  }
  &__facebook-logo {
    color: #3982e4;
    font-size: 2.5rem;
    &:hover {
      color: #4f91e7;
    }
  }
  &__container {
    width: 100%;
    margin-top: 2rem;
    padding: 1rem;
    text-decoration: none;
    background-color: $color-bg;
  }
  &__logo {
    padding: 2rem;
    font-family: "Darleston";
    font-size: 7rem;
    text-align: center;
    color: $color-green;
    // color: #27ab4a;
    @include tablet {
      font-size: 10rem;
    }
  }
  &__logo::after {
    content: "";
    display: block;
    width: 10rem;
    margin: auto;
    border-bottom: 2px solid $color-primary;
  }
}
