.hero-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url("/src/assets/images/hero_banner.webp");
  background-position: center;
  background-size: cover;
  h2 {
    padding: 1rem;
    color: $text-darkgrey;
    font-size: 5rem;
    border: solid 1px $text-darkgrey;
    background-color: rgba(255, 255, 255, 0.5);
    @include tablet {
      font-size: 8rem;
    }
  }
}
