section {
  .title__container {
    @include flex(center, center);
    height: 25vh;
    background-position: center;
    background-size: cover;
    @include responsive("small") {
      height: 25vh;
    }
    @include responsive("xlarge") {
      height: 33vh;
    }
  }

  h2 {
    padding: 0.8rem 1.2rem;
    border: solid 1px $text-color-primary;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    @include responsive("small") {
      padding: 2rem 2.5rem;
    }
  }
  h3 {
    margin: 0 auto 2rem auto;
    padding: 0 2rem;
    @include overliner($color-tertiary, 25%);
    @include underliner($color-tertiary, 25%);
    @include responsive("medium") {
      max-width: 80%;
    }
    @include responsive("large") {
      max-width: 50%;
    }
  }
  h4 {
    margin-top: 3rem;
    padding: 0 4rem;
  }
  p {
    padding: 1rem;
    margin: auto;
    max-width: 90%;
    @include responsive("medium") {
      max-width: 80%;
    }
    @include responsive("large") {
      max-width: 60%;
    }
  }
  li {
    padding: 0.5rem;
  }
}
