.footer {
  @include flex(center, center, column);
  min-height: 10vh;
  padding: 2rem;
  background-color: rgb(37, 25, 14);
  &__links {
    @include flex(null, space-evenly);
    width: 100%;

    @include responsive("small") {
      width: 50%;
    }
  }
  .marcapar__logo {
    width: 10rem;
  }
  &__copyright {
    padding: 1.5rem;
  }
}
