main {
  @include flex(null, null, column);
  width: 100%;
}
.content__container {
  margin: 7rem 0;
  @include responsive("medium") {
    margin: 10rem 0;
  }
  @include responsive("large") {
    margin: 15rem auto;
  }
}
