main {
  @include flex(null, null, column);
  width: 100%;
}
.content__container {
  margin: 2rem 0;
  @include responsive("medium") {
    margin: 4rem 0;
  }
  @include responsive("large") {
    margin: 5rem auto;
  }
}
